@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;700&display=swap');

:root{
    --primary-color:#8F7BF0;
    --column-count: 5;
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sora', sans-serif;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background: #f5f5f5;
}

h1{
    text-align: center;
    margin: 5rem 0;
    text-decoration: underline;
}

img{
    width: 100%;
}

section.masonry-blog{
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    grid-template-rows: masonry;
    gap: 2rem;
}

article{
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(102, 102, 102, 0.08);
}

header{
    display: flex;
    gap: 10px;
    padding: 1rem;
    font-size: 80%;
    color: #666;
}

header img{
    width: 20px;
    border-radius: 100%;
}

.card-body{
    padding: 1rem;
}

.card-body .tag{
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 60%;
}

.card-body h3{
    margin: 0.6rem 0;
    text-transform: capitalize;
}

.card-footer{
    font-size: 75%;
    color: #666;
}

ion-icon{
    color: var(--primary-color);
}

.card-footer span:first-child{
    margin-right: 10px;
}

@media only screen and (max-width:992px){
    section.masonry-blog{
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }
}

@media only screen and (max-width:768px){
    section.masonry-blog{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}